<!doctype html>
<html>
<head>

<meta charset="UTF-8">

<title> Refer a Friend </title>

<link rel="stylesheet" href="css/main.css">

<script src="https://use.fontawesome.com/15e1873f93.js"></script>

<link rel="stylesheet" href="tu-font-awesome.css">
<link rel="stylesheet" href="tu-font-awesome-animation.min.css">
<link rel="stylesheet" href="tu-main.css">

</head>

<body>

<div id="top"> </div>

<div id="bottom"> </div>

<h1><span class="thin">True</span>Identity</h1>

<h2><span class="referral">Referral Program</span></h2>

<div class="email-text"> Enter a friend’s email and start earning rewards now! </div>
	
<div class="middle">
	
	<form action="/action_page.php">
  <span class="email"> Email<br> 
  <input type="text" name="firstname" value="smecwan@calpoly.edu">
  <br> <br>
	</span>
  <div class="submitbutton">
  <span class="submit">
  <input type="submit" value="Submit">	
		 <a href="https://www.facebook.com" target="_blank" class="link"> </a> 
	</span>
	</div>
	</form> 
	
</div>

<div class="social-text">
<p> Don’t forget to share on your social media accounts. </p> 	
</div>

<div id="footer-social">
	<span class="footer-connect"> 
 	<ul>
	 	 <li class="social-fb"> 
	 	<a href="https://www.facebook.com" target="_blank" class="link">
		<i class="fa fa-facebook-square fa-4x" aria-hidden="true"> 
		</i> </a> </li>
		
		<li class="social-twitter">
		<a href="https://www.twitter.com" target="_blank" class="link">
		<i class="fa fa-twitter fa-4x" aria-hidden="true">
		</i> </a> </li>
	 </ul>		
	</span>
</div>
	
</body>
</html>
