<!-- howdy/templates/popup.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Popup</title>
    </head>
    <body>
    <script language="javascript" type="text/javascript">
<!--

    function getEmail() {
        var email = document.getElementById("email").value;
        window.location.href = 'mailto:' + email + '?subject=TransUnion Referral&body=blah blah blah';
    }

 -->
 </script>
        <form action="javascript:getEmail();">
            Send Email To:<br>
            <input type="text" id="email" name="recipient"><br>
            <input type="submit" value="Send!">
        </form>
    </body>
</html>